{# menu Twig template #}
<nav class="navbar navbar-inverse navbar-fixed-top" id="id-menu-top-bar">
    <div class="container-fluid maxWidth">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="#menu" style="background-color: transparent; float:right; padding: 7px !important; "
                   onclick="" class="text-right"><img src="/global/icons/user_icon.png" id="id-mm-user"></a>
            </li >
        </ul>
    </div>
</nav>


<div class="col-sm-3 menu" id="id-menu">
    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>

        </li>
        {#        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY')%}#}


        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
            <li>
                <a href="{{ path('logout') }}">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('login_form') }}">Login</a>
            </li>
        {% endif %} 
    </ul>

</div>

